.button
{
    -fx-background-color: #0C072E;
    color: #F0F0F0;
}

.button:hover
{
    -fx-background-color: #2F2958;
}

#saveBtn
{
    -fx-background-color: #48C774;
}

#cancelBtn
{
    -fx-background-color: #D2D2D2;
}

#deleteBtn
{
    -fx-background-color: #FB3860;
}

#addSystemBtn
{
    -fx-background-color: #48C774;
}

#addThresholdBtn
{
    -fx-background-color: #48C774;
}