.systemPane
{
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 231.0;
    -fx-pref-width: 298.0;
}

.systemPane:hover
{
    -fx-background-color: #bfbfbf;
}

#systemName
{
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 21px;
    -fx-font-weight: bold;
    -fx-fill: '#0c072e';
}

#systemType, #linearLabel, #linearRUL, #linearRUL, #lstmLabel, #lstmRUL
{
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: '#0c072e';
}

