.systemPane
{
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 231.0;
    -fx-pref-width: 298.0;
}

.systemPane:hover
{
    -fx-background-color: #bfbfbf;
}

#systemName
{
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 21px;
    -fx-font-weight: bold;
    -fx-fill: '#0c072e';
}

#systemType, #linearLabel, #linearRUL, #linearRUL, #lstmLabel, #lstmRUL
{
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: '#0c072e';
}

/*TablPane styling*/
.tab
{
    -fx-background-color: transparent;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
    -fx-padding: 0 40px 0 40px;
    -fx-border-width: 2px;
    -fx-border-color: transparent transparent transparent transparent;
}

.tab:selected
{
   -fx-border-color: transparent transparent #CBCBCB transparent;
   -fx-focus-color: transparent;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.tab-label {
    /*-fx-text-fill: -fx-secondary;*/
    -fx-font-size: 10pt;
}

.tab-main {
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #FBFBFC;
    -fx-size: 40;
}

.table-view .column-header .filter {
    -fx-background-color: #FBFBFC;
}

.table-row-cell {
    -fx-cell-size: 35px;
}

.table-row-cell:filled:hover {
    -fx-background-color: #E4E6E8;
}

.table-view .column-header-background {
    -fx-background-color: #FBFBFC;
    -fx-border-width: 1px;
    -fx-border-color: #E8E9EA transparent #E8E9EA transparent;
}
