#sortAsset {
    -fx-background-image:url('../imgs/baseline_reorder_black_24dp.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8 center;

}

#filterAsset {
    -fx-background-image:url('../imgs/baseline_filter_alt_black_24dp.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8 center;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.borderPane {
    -fx-pref-width: 217px;
    -fx-pref-height: 133px;
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 2px;
}

.filter {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-cursor: hand;
}

.filter CheckBox{
    -fx-background-color: #FFFFFF;
    -fx-mark-color: #013E69;
    -fx-font-size: 14px;
}

.dropdown {
    -fx-background-color: #FFFFFF;
    -fx-mark-color: #3A3A3A;
    -fx-pref-width: 247px;
    -fx-pref-height: 45px;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-cursor: hand;
}

.dropdown .menu-item:focused {
    -fx-background-color: #48C774;
}

.dropdown .menu-item:focused > .label {
    -fx-text-fill: white;
}

.dropdown > .label {
    -fx-text-fill: #3A3A3A;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.ok {
    -fx-background-color: #B1FFC6;
    -fx-border-color: #B1FFC6;
}

.caution {
    -fx-background-color: #F5FFB1;
    -fx-border-color: #F5FFB1;
}

.advisory {
    -fx-background-color: #F5FFB1;
    -fx-border-color: #F5FFB1;
}

.warning {
    -fx-background-color: #FFE0B1;
    -fx-border-color: #FFE0B1;
}

.failed {
    -fx-background-color: #FFB1B1;
    -fx-border-color: #FFB1B1;
}

.none {
    -fx-background-color: transparent;
    -fx-border-color: #D3D3D3;
}

.cellStatus {
    -fx-border-color: transparent transparent #E8E9EA transparent;
}

.noResultPane {
    -fx-background-color: #dbdbdb;
    -fx-pref-height: 70.0;
    -fx-pref-width: 210.0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.noResult {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}