.button {
    -fx-background-color: #0C072E;
    color: #F0F0F0;
}

.button:hover {
    -fx-background-color: #2F2958;
}

#saveBtn,  #modelSaveBtn {
    -fx-background-color: #48C774;
}

#editBtn, .infoSaveTrue , #modelEditBtn {
    -fx-background-color: #48C774;
}

#cancelBtn, #infoCancelBtn, .infoSaveFalse, #modelCancelBtn {
    -fx-background-color: #D2D2D2;
}

#deleteBtn, #infoDeleteBtn, #modelDeleteBtn {
    -fx-background-color: #FB3860;
}

#addAssetBtn {
    -fx-background-color: #48C774;
}

#addTypeBtn {
    -fx-background-color: #48C774;
}

#addThresholdBtn {
    -fx-background-color: #48C774;
}

#sortAsset {
    -fx-background-color: #48C774;
    -fx-mark-color: white;
    -fx-pref-width: 117;
    -fx-pref-height: 27;
}

#sortAsset .menu-item:focused {
    -fx-background-color: #48C774;
}

#sortAsset .menu-item:focused > .label {
    -fx-text-fill: white;
}

#sortAsset > .label {
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.error-message {
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-font-size: 11.0;
}

.input-error {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.splash-screen-bg {
    -fx-background-color: rgb(22, 53, 96);
    -fx-background-color: linear-gradient(to top right, rgba(22, 53, 96, 1) 0%, rgba(63, 143, 204, 1) 85%);;
}