.button {
    -fx-background-color: #0C072E;
    color: #F0F0F0;
}

.button:hover {
    -fx-background-color: #2F2958;
}

#saveBtn {
    -fx-background-color: #48C774;
}

#editBtn {
    -fx-background-color: #48C774;
}

#cancelBtn {
    -fx-background-color: #D2D2D2;
}

#deleteBtn {
    -fx-background-color: #FB3860;
}

#addSystemBtn {
    -fx-background-color: #48C774;
}

#addTypeBtn {
    -fx-background-color: #48C774;
}

#addThresholdBtn {
    -fx-background-color: #48C774;
}

#sortSystem {
    -fx-background-color: #48C774;
    -fx-mark-color: white;
    -fx-pref-width: 117;
    -fx-pref-height: 27;
}

#sortSystem .menu-item:focused {
    -fx-background-color: #48C774;
}

#sortSystem .menu-item:focused > .label {
    -fx-text-fill: white;
}

#sortSystem > .label {
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent;
}