.titleBar {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #D3D3D3;
}

.panel {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: #D3D3D3;
}

.panelTitle {
    -fx-font-family: "Segoe UI";
    -fx-fill: #3A3A3A;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.panelTitleBar {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #D3D3D3;
}

.background {
    -fx-background-color: #F1F1F1;
}

.footerBar {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #D3D3D3;
}

.saveBtn {
    -fx-pref-width: 142px;
    -fx-pref-height: 40px;
    -fx-border-radius: 2px;
    -fx-background-color: #57A773;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-fill: #FFFFFF;
}

.cancelBtn {
    -fx-pref-width: 142px;
    -fx-pref-height: 40px;
    -fx-border-radius: 2px;
    -fx-border-color: #3A3A3A;
    -fx-border-width: 1px;
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-fill: #3A3A3A;
}