.titleBar {
    -fx-background-color: #FFFFFF;
}

#deleteBtn {
    -fx-background-color: #EE6352;
    -fx-text-fill: #FFFFFF;
}

.tab
{
    -fx-background-color: transparent;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
    -fx-padding: 0 20px 7px 20px;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-fill: #3A3A3A;
}

.tab:selected
{
   -fx-border-color: transparent transparent #EE6352 transparent;
   -fx-focus-color: transparent;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.tab-label {
    /*-fx-text-fill: -fx-secondary;*/
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-fill: #3A3A3A;
}

.tab-main {
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.scrollPane {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#assetInfoTab {
    -fx-background-color: #F1F1F1;
    -fx-border-width: 1px;
    -fx-border-color: #D3D3D3 transparent transparent transparent;
}

#assetInfoPane {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 2px;
    /*-fx-border-width: 1px;
    -fx-border-color: #D3D3D3;*/
}

.attributePane {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-pref-width: 247px;
    -fx-pref-height: 196px;
}

.attributeName {
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: '#3A3A3A';
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #FBFBFC;
    -fx-size: 40;
}

.table-view .column-header .label {
    -fx-alignment: CENTER-LEFT;
}

.table-view .column-header .filter {
    -fx-background-color: #FBFBFC;
}

.table-row-cell {
    -fx-cell-size: 35px;
}

.table-row-cell:filled:hover {
    -fx-background-color: #E4E6E8;
}

.table-view .column-header-background {
    -fx-background-color: #FBFBFC;
    -fx-border-width: 1px;
    -fx-border-color: #E8E9EA transparent #E8E9EA transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: #EE6352;
}