#search {
    -fx-pref-width: 805px;
    -fx-pref-height: 45px;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 2px;
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI";
    -fx-background-image:url('../../imgs/baseline_search_black_24dp.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8 center;
}

#sortAsset {
    -fx-background-image:url('../../imgs/baseline_reorder_black_24dp.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8 center;
}

#filterAsset {
    -fx-background-image:url('../../imgs/baseline_filter_alt_black_24dp.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8 center;
}

#addAssetBtn {
    -fx-background-color: #57A773;
    -fx-text-fill: #FFFFFF;
}

.tab
{
    -fx-background-color: transparent;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
    -fx-padding: 0 20px 7px 20px;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-fill: #3A3A3A;
}

.tab:selected
{
   -fx-border-color: transparent transparent #EE6352 transparent;
   -fx-focus-color: transparent;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.tab-label {
    /*-fx-text-fill: -fx-secondary;*/
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-fill: #3A3A3A;
}

.tab-main {
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

#thumbnailPane {
    -fx-background-color: #F1F1F1;
    -fx-border-width: 1px;
    -fx-border-color: #D3D3D3 transparent transparent transparent;
}

.scrollPane {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.flowPane {
    -fx-pref-width: 1134px;
    -fx-vgap: 10px;
    -fx-padding: 26px;
}

.assetPane {
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 247px;
    -fx-pref-height: 288px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.assetPane:hover {
    -fx-border-color: #EE6352;
}

.assetName {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #3A3A3A;
}

.assetType {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-fill: #3A3A3A;
}

.imagePlaceholder {
    -fx-pref-width: 217px;
    -fx-pref-height: 133px;
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 2px;
}

.rulLabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-fill: #3A3A3A;
}

.rulPane {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1px;
    -fx-pref-width: 99px;
    -fx-pref-height: 33px;
}

.statusLabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-fill: #3A3A3A;
}

.statusPane {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-pref-width: 99px;
    -fx-pref-height: 33px;
    -fx-alignment: center;
}

.rulValue {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-fill: #3A3A3A;
    -fx-font-weight: bold;
    -fx-pref-width: 99px;
    -fx-pref-height: 15px;
}

.statusValue {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-fill: #3A3A3A;
    -fx-font-weight: bold;
    -fx-pref-width: 99px;
    -fx-pref-height: 15px;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #FBFBFC;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-alignment: CENTER-LEFT;
}

.table-view .column-header .filter {
    -fx-background-color: #FBFBFC;
}


.table-row-cell {
    -fx-cell-size: 35px;
}

.table-row-cell:filled:hover {
    -fx-background-color: #E4E6E8;
}

.table-view .column-header-background {
    -fx-background-color: #FBFBFC;
    -fx-border-width: 1px;
    -fx-border-color: #E8E9EA transparent #E8E9EA transparent;
}

.dropdown {
    -fx-background-color: #FFFFFF;
    -fx-mark-color: #3A3A3A;
    -fx-pref-width: 247px;
    -fx-pref-height: 40px;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
}

.dropdown .menu-item:focused {
    -fx-background-color: #48C774;
}

.dropdown .menu-item:focused > .label {
    -fx-text-fill: white;
}

.dropdown > .label {
    -fx-text-fill: #3A3A3A;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.ok {
    -fx-background-color: #B1FFC6;
    -fx-border-color: #B1FFC6;
}

.caution {
    -fx-background-color: #F5FFB1;
    -fx-border-color: #F5FFB1;
}

.advisory {
    -fx-background-color: #F5FFB1;
    -fx-border-color: #F5FFB1;
}

.warning {
    -fx-background-color: #FFE0B1;
    -fx-border-color: #FFE0B1;
}

.failed {
    -fx-background-color: #FFB1B1;
    -fx-border-color: #FFB1B1;
}

.none {
    -fx-background-color: transparent;
    -fx-border-color: #D3D3D3;
}

.cellStatus {
    -fx-border-color: transparent transparent #E8E9EA transparent;
}

.noResultPane {
    -fx-background-color: #dbdbdb;
    -fx-pref-height: 70.0;
    -fx-pref-width: 210.0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.noResult {
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: '#0c072e';
}