.titleBar {
    -fx-background-color: #FFFFFF;
}

.formLabel {
    -fx-fill: #3A3A3A;
    -fx-font-size: 14px;
    -fx-font-family: 'Segoe UI';
}

#deleteBtn {
    -fx-background-color: #EE6352;
    -fx-text-fill: #FFFFFF;
}

#evaluateAllModelsBtn {
    -fx-background-color: #EE6352;
    -fx-text-fill: #FFFFFF;
}

.tab
{
    -fx-background-color: transparent;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
    -fx-padding: 0 20px 7px 20px;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-fill: #3A3A3A;
}

.tab:selected
{
   -fx-border-color: transparent transparent #EE6352 transparent;
   -fx-focus-color: transparent;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.tab-label {
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-fill: #3A3A3A;
}

.tab-main {
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

#assetTypeInfoTab {
    -fx-background-color: #F1F1F1;
    -fx-border-width: 1px;
    -fx-border-color: #D3D3D3 transparent transparent transparent;
}

.panel {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: #D3D3D3;
}

.panelTitle {
    -fx-font-family: "Segoe UI";
    -fx-fill: #3A3A3A;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.panelTitleBar {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #D3D3D3;
}

.background {
    -fx-background-color: #F1F1F1;
}

.footerBar {
    -fx-background-color: #FFFFFF;
}

.saveBtn {
    -fx-pref-width: 142px;
    -fx-pref-height: 40px;
    -fx-border-radius: 2px;
    -fx-background-color: #57A773;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-fill: #FFFFFF;
}

.cancelBtn {
    -fx-pref-width: 142px;
    -fx-pref-height: 40px;
    -fx-border-radius: 2px;
    -fx-border-color: #3A3A3A;
    -fx-border-width: 1px;
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-fill: #3A3A3A;
}

#assetTypeModel {
    -fx-background-color: #F1F1F1;
    -fx-border-width: 1px;
    -fx-border-color: #D3D3D3 transparent transparent transparent;
}

.modelPane {
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 247px;
    -fx-pref-height: 200px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.modelPane:hover {
    -fx-border-color: #EE6352;
}

.modelName {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #3A3A3A;
}

.rmseLabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-fill: #3A3A3A;
}

.rmsePane {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1px;
    -fx-pref-width: 99px;
    -fx-pref-height: 33px;
}

.rmseValue {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-fill: #3A3A3A;
    -fx-font-weight: bold;
    -fx-pref-width: 99px;
    -fx-pref-height: 15px;
}

.selectBtn {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-background-color: #EE6352;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 99px;
    -fx-pref-height: 33px;
}

.scrollPane {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.selectModelHeaderPane {
    -fx-background-color: transparent;
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: #D3D3D3;
}

.paramPane {
    -fx-background-color: transparent;
    -fx-pref-height: 40px;
    -fx-pref-width: 450px;
    -fx-padding: 10px;
}

.paramTextField {
    -fx-pref-width: 150px;
}

#modelsThumbPane {
    -fx-padding: 10px;
}

.paramLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-text-fill: #3A3A3A;
}

.parametersScrollPane {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0px;
    -fx-border-color: #FFFFFF;
}

.parametersContainer {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0px;
    -fx-border-color: #FFFFFF;
}

.modelParameters {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0px;
    -fx-border-color: #FFFFFF;
}

.resetBtn {
    -fx-pref-width: 142px;
    -fx-pref-height: 40px;
    -fx-border-radius: 2px;
    -fx-border-color: #3A3A3A;
    -fx-border-width: 1px;
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-fill: #3A3A3A;
}

.defaultBtn {
    -fx-pref-width: 142px;
    -fx-pref-height: 40px;
    -fx-border-radius: 2px;
    -fx-border-color: #3A3A3A;
    -fx-border-width: 1px;
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-fill: #3A3A3A;
}

